<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656021822180-kleedsccgevaq2p6f5hmum24msqtr84i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656021822180-kleedsccgevaq2p6f5hmum24msqtr84i</string>
	<key>API_KEY</key>
	<string>AIzaSyDx5OXhKOt8UfqUu2ZvQfDu7_k8T8lY8UE</string>
	<key>GCM_SENDER_ID</key>
	<string>656021822180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.CockBotApp</string>
	<key>PROJECT_ID</key>
	<string>cockbotappdb</string>
	<key>STORAGE_BUCKET</key>
	<string>cockbotappdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656021822180:ios:12597cd5b8dc3abbb46af1</string>
</dict>
</plist>